@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Edu+TAS+Beginner&family=Graduate&family=IBM+Plex+Sans&family=Josefin+Slab&family=Linefont:wght@200&family=Montserrat&family=Nabla&family=Noto+Sans+JP&family=Noto+Sans+KR&family=Noto+Serif+SC:wght@300&family=Nunito+Sans:opsz,wght@6..12,300;6..12,500&family=Open+Sans&family=Roboto+Mono&display=swap');
* {
    max-width: 1920px;
    overflow-x: hidden;
}

@font-face {
    font-family: monofur;
    src: url(monof55.ttf);
}

body{
    background-image: url(img/bg.png);
    background-attachment: fixed;
}

.seychelles {
    width: 100px;
    height: 100px;
}

.text-header {
    font-family: "Josefin Slab", serif;
}

.text-content {
    font-family: "Edu TAS Beginner", sans-serif;
}

.text-navbar {
    font-family: "Monofur", monospace;
}

.content {
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background-color: #00000070;
    padding: 20px;
}

.project {
    width: 449px;
    float: right;
}