@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Edu+TAS+Beginner&family=Graduate&family=IBM+Plex+Sans&family=Josefin+Slab&family=Linefont:wght@200&family=Montserrat&family=Nabla&family=Noto+Sans+JP&family=Noto+Sans+KR&family=Noto+Serif+SC:wght@300&family=Nunito+Sans:opsz,wght@6..12,300;6..12,500&family=Open+Sans&family=Roboto+Mono&display=swap');
* {
    max-width: 1920px;
    overflow-x: hidden;
}

@font-face {
    font-family: monofur;
    src: url(monof55.ttf);
}

body{
    background-image: url(img/bg2.png);
}

#header{
    color: white;
    height: 5rem;
    padding-top: 20px;
    position: sticky;
}

.hidden {
    visibility: hidden;
    width: 100%;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        display: visible;
    } 100% {
        opacity: 0;
        display: none;
    }
} 

@keyframes bg {
    0% {
        background-image: url(img/bg2.png);
    } 100% {
        background-image: url(img/bg.png);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden
    } 100% { 
        opacity: 1;
        visibility: visible;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
    }
}

@keyframes fadeIn-s {
    0% {
        opacity: 0;
        visibility: hidden;
    } 100% {
        opacity: 1;
        visibility: visible;
    }
}